

.ant-table-tbody > tr:hover > td {
  background:@light !important;
}

.ant-table-tbody > tr > td,.ant-table-thead > tr > th{
  padding:16px 8px !important;
}

tr.ant-table-expanded-row,
tr.ant-table-expanded-row:hover {
	box-shadow:inset 0px 15px 15px -15px #e8e8e8,
		 inset 0px -15px 15px -15px #e8e8e8 !important;
}

tr.ant-table-expanded-row td{
	padding:16px 0!important;
}
